﻿@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<FineApi.Models.Fine>
<div class="container" style="padding-top: 35px;">
    <div class="col-md-2">
        <ul class='list-group'>
            @foreach(var fine in Model){
                <li class="list-group-item"><a class="nums" id="@fine.Id">@fine.RegistrationNumber</a> </li>
            }
        </ul>
    </div>

    <div class="col-md-10">
        <div class="info">
            <div class="col-md-6">
                <div class="foto">
                    <img class="img-responsive img-photo" src="" style="max-height: 300px">
                </div>
                <div class="map" id="map" style="height: 256px">
                    
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="col-md-2" for="registrationNumber">Регистрационный номер</label>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <span id="registrationNumber" class="form-control number "> </span>
                    </div>
                    

                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="col-md-2" for="date">Дата</label>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <span id="date" class="form-control date "> </span>
                    </div>
                    

                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="col-md-2" for="payment">Оплата</label>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <span id="payment" class="form-control payment "> </span>
                    </div>
                    

                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="col-md-2" for="reason">Причина штрафа</label>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <span id="reason" class="form-control reason "> </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="col-md-2" for="area">Район</label>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <span id="area" class="form-control area "> </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="col-md-2" for="parking">Стоянка</label>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <span id="parking" class="form-control parking "> </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="col-md-2" for="worker">Сотрудник</label>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <span id="worker" class="form-control worker "> </span>
                    </div>
                </div>
                
               
            </div>
        </div>     
    </div>
</div>
<script>
    
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN3MdiMkXczS6KbFcrHJj5ULcs-6stuy4&callback=initMap">
</script>
